<div class="hero">
  <%= image_tag(_.post.main_image, class: "hero-image") %>
</div>
<div class="container">
  <article>
    <header>
      <h1><%= _.post.title %></h1>
      <p><%= _.post.date %></p>
    </header>

    <%= yield %>

    <nav style="position:relative;">
      <a href="/" class="text-link" alt="Home">🏠</a>
    </nav>
  </article>
</div>
